body {
  font-family: Georgia, 'Times New Roman', serif;
  font-size: 18px;
  line-height: 1.6;
  color: #000;
  background: #fff;
  max-width: 700px;
  margin: 40px auto;
  padding: 0 20px;
}

img {
  display: block;
  margin-bottom: 20px;
}

a {
  color: #0000EE;
}

a:visited {
  color: #551A8B;
}

ul {
  padding-left: 25px;
}

li {
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 5px;
}
